@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.Container {
 
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.Banner {
  width: 100%;
  text-align: center; 

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 30px;

    a {
      text-decoration: none;
      gap: 30px;
      color: #000;
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 30px;
    width: 1200px;
    height: 700px;
    padding-bottom: 30px;
    background: #fff;

    .card {
      margin-top: 30px;
      text-align: center;
      width: 350px;
      height: 300px;
      border-radius: 10px;
      background: rgb(242, 241, 241);

      img {
        margin-top: 20px;
        width: 150px;
        transition: .3s;

        &:hover {
          transform: scale(1.2);
        }
      }

      h1 {
        font-size: 20px;
        padding-top: 10px;
      }

      p {
        font-size: 10px;
        padding-bottom: 15px;
        padding-top: 5px;
      }

      button {
        border: none;
        border-radius: 10px;
        padding: 5px;
        background: #000;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: #757575;
          transform: scale(0.9);
        }
      }
    }
  }
}
